{% extends 'base.html' %}
{% load static %}



{% block links %}    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
{% endblock links %}
{% block extrastyle %}body{height: 100vh; background-color: #35373a;} .navbar{display: block} p{text-align : center; color : white }{% endblock extrastyle %}

{% block content %}
<div class="col-sm-12 px-5">
<p class="text-center" style="padding: 0px 0px;"></p><h1 class="h1_heading text-center" style="color: #f9d342; border-bottom: 1px solid #f9d342;">THINGS TO DO IN NAINITAL</h1><br>
<p>Nestled amongst the lofty Himalayas, the quaint hill town of Nainital is a fairly refreshing change from the monotony that characterizes a city dweller's life. Picturesque valleys, tranquil lakes, meandering rivers splendid views from hill tops and beautiful sunsets - all add to the charisma of this city. Nainital has an array of places that you can explore while you are in the city. We have put together a list of things for you to do when you are in Nainital.</p>


                    
</div>
<div id="carouselExampleCaptions" class="carousel slide carousel-fade px-5 pb-5" data-bs-ride="carousel" data-interval="500">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner"  style = "border-radius: 36px;">
      <div class="carousel-item active">
        <img src="https://www.shervanihotels.com/assets/img/thingstodo/naini-lake.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>NAINI LAKE</h5>
          <p>Reputed as one of the most gorgeous natural fresh body lakes of region, the crescent shaped Naini Lake is frequented by many visitors. It is enclosed by other worth seeing spots like Naini Peak and Tiffin Point. It has two distinct sections, Mallital and Tallital. It bustles with life with activities like boating and long evening strolls. You can also visit Naini Temple and Nana Devi Temple along the shores of the lake.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.shervanihotels.com/assets/img/thingstodo/naina-devi.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>NAINA DEVI TEMPLE</h5>
          <p>Revered as one of the fifty-one Shakti Peeths of India, the Naina Devi Temple is a consecrated site near the Naini Lake. It is devoted to Devi Sati's eyes, hence, the name 'Naina Devi'. The building dates back to 15 A.D. This is one of the reasons why it draws visitors from across the country. The presiding deity of the Naina Devi Temple is Maa Naina Devi or Mata Sati while you can also find the idols of Maa Kali & Lord Ganesha.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.shervanihotels.com/assets/img/thingstodo/tiffin-top.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>TIFFIN TOP (DOROTHY'S SEAT)</h5>
          <p>Revered as one of the fifty-one Shakti Peeths of India, the Naina Devi Temple is a consecrated site near the Naini Lake. It is devoted to Devi Sati's eyes, hence, the name 'Naina Devi'. The building dates back to 15 A.D. This is one of the reasons why it draws visitors from across the country. The presiding deity of the Naina Devi Temple is Maa Naina Devi or Mata Sati while you can also find the idols of Maa Kali & Lord Ganesha.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.shervanihotels.com/assets/img/thingstodo/eco-garden.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>ECO GARDEN</h5>
          <p>The Eco Garden comprises of six small caves designed in the shape of animals. The musical fountain with special audio-visual effects makes your evenings come alive. It also has hanging gardens that are quite popular among children.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.shervanihotels.com/assets/img/thingstodo/pangot.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>PANGOT</h5>
          <p>Situated just 15 km away from Nainital, Pangot is a picturesque hamlet known for its rich and exotic bird life. It brims with abundant natural treasures - greenery, flowers and wildlife. It is a great place for some amazing photography. It traverses the forested areas of Chenna Peak Range and Kilbury- excellent environments for birding. The eminent Corbett National Park is just 80 km away from Pangot.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% endblock content %}



